{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title">
        <div class="breadcrumbs">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="bi bi-house"></i> Home</a></li>
                    <li class="breadcrumb-item active current">Start Form</li>
                </ol>
            </nav>
        </div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8" style="text-align: left;">
            <h1 class="mb-4">{{ blog.title }}</h1>
            <div class="content">
                {{ blog.content|safe }}
            </div>
            <div class="mt-4">
                <a href="{% url 'blog_list' %}" class="btn btn-secondary">Back to Blog List</a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ blog.image.url }}" class="img-fluid" style="max-height: 300px; object-fit: cover;" alt="{{ blog.title }}">
        </div>
    </div>
</div>
</main>

{% endblock %}
