{% extends "base.html" %}
{% load static %}

{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title">
    <div class="breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="bi bi-house"></i> Home</a></li>
          {# <li class="breadcrumb-item"><a href="#">Category</a></li> #}
          <li class="breadcrumb-item active current">Contact</li>
        </ol>
      </nav>
    </div>

    {% comment %} <div class="title-wrapper">
      <h1>Contact</h1>
      <p>We’re here to help—reach out today to schedule an appointment or ask any questions you may have.</p>
    </div> {% endcomment %}
  </div>
  <!-- End Page Title -->

  <!-- Contact Information Section -->
  <section id="contact-info" class="contact-info section light-background">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="contact-wrapper">
            <div class="contact-info-header text-center mb-5">
              <h2>Contact Information</h2>
              <p class="lead">We're here to help—reach out today to schedule an appointment or ask any questions you may have.</p>
            </div>

            <div class="row gy-4 mb-5">
              <div class="col-lg-3 col-md-6">
                <div class="info-card h-100">
                  <div class="icon-container">
                    <i class="bi bi-telephone-fill"></i>
                  </div>
                  <div class="card-content">
                    <h4>Call Us</h4>
                    <p><a href="tel:+15551234567">+1 (866) 5282004</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="info-card h-100">
                  <div class="icon-container">
                    <i class="bi bi-envelope-open"></i>
                  </div>
                  <div class="card-content">
                    <h4>Email Us</h4>
                    <p><a href="mailto:info@mindreliefclinic.com">info@mindreliefclinic.com</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="info-card h-100">
                  <div class="icon-container">
                    <i class="bi bi-clock-history"></i>
                  </div>
                  <div class="card-content">
                    <h4>Working Hours</h4>
                    <p><a href="mailto:info@example.com">Monday-Friday</a></p>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-3 col-md-6">
                <div class="info-card h-100">
                  <div class="icon-container">
                    <i class="bi bi-envelope-open"></i>
                  </div>
                  <div class="card-content">
                    <h4>Support</h4>
                    <p><a href="mailto:contact@mindreliefclinic.com">contact@mindreliefclinic.com</a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Information Section -->

  <!-- Contact Map Section -->
  <section id="contact" class="contact section">
    
    <div class="container">
      {% include "map.html" %}
    </div> <!-- /container -->
  </section> <!-- /Contact Section -->

</main>

{% endblock content %}
