{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title">
    <div class="breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="bi bi-house"></i> Home</a></li>
          <li class="breadcrumb-item active current">Start Form</li>
        </ol>
      </nav>
    </div>

    <div class="title-wrapper">
      <h1>Start Patient Form</h1>
      <p>Please enter basic patient details to begin the process.</p>
    </div>
  </div>


  <!-- Patient Entry Form Section -->
  <section id="contact" class="contact section">
    <div class="container">
      <div class="">

        <div class="contact-form-panel">
          <div class="form-container">
            <h3>Enter Patient Info</h3>
            <p>Only first name, last name, and username are required to begin.</p>

            <form method="post" action="{% url 'create_patient' %}">
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="firstNameInput" name="first_name" placeholder="First Name"
                  required>
                <label for="firstNameInput">First Name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="lastNameInput" name="last_name" placeholder="Last Name"
                  required>
                <label for="lastNameInput">Last Name</label>
              </div>

              {% comment %} <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Patient profile started. Redirecting...</div>
              </div> {% endcomment %}

              <div class="d-grid">
                <button type="submit" class="btn-submit">Start Your Form <i class="bi bi-send-fill ms-2"></i></button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </section>

</main>

{% endblock content %}