<div class="contact-wrapper">
        <!-- Left Panel -->
        <div
          class="contact-info-panel"
          style="max-height: 500px; overflow-y: auto; padding-right: 10px">
          <div
            class="contact-info-cards"
            style="display: flex; flex-direction: column; gap: 20px"
          >
            <!-- Card 1 -->
            <div class="map-card">
              <h4><strong>Mind Relief</strong></h4>
              <p>CareNow Urgent Care - Las Colinas - MacArthur, 7400 N MacArthur Blvd, Irving, TX 75063</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.646104215281!2d-96.96085742387217!3d32.90752387360944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c283606c8951b%3A0x847832ff5a49df83!2sCareNow%20Urgent%20Care%20-%20Las%20Colinas%20-%20MacArthur!5e0!3m2!1sen!2s!4v1753903062141!5m2!1sen!2s" 
              width="100%" 
              height="200" 
              style="border:0;" 
              allowfullscreen="" 
              referrerpolicy="no-referrer-when-downgrade"></iframe>
              </iframe>
            </div>

            <!-- Card 2 -->
            <div class="map-card">
              <h4><strong>Mind Relief</strong></h4>
              <p>HealthCareClinics Primary Care, 5315 Ross Ave, Dallas, TX 75206</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.3227184203815!2d-96.77432302387571!3d32.81021317364987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9f35ea6f3887%3A0xd3470ad76c53b5de!2sHealthCareClinics%20Primary%20Care!5e0!3m2!1sen!2s!4v1753903419537!5m2!1sen!2s" width="100%" height="200" style="border:0;" allowfullscreen=""referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!-- Card 3 -->
            <div class="map-card">
              <h4><strong>Mind Relief</strong></h4>
              <p>Exer Urgent Care - Downtown, 269 San Pedro St, Los Angeles, CA 90012</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.83945321899!2d-118.24589012383!3d34.04798917315874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c64824336405%3A0x75e6b56fc8360ae1!2sExer%20Urgent%20Care%20-%20Downtown!5e0!3m2!1sen!2s!4v1753903480294!5m2!1sen!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!-- Card 4 -->
            <div class="map-card">
              <h4><strong>Mind Relief</strong></h4>
              <p>New Era Recovery and Behavioral Health LLC - Mental Health Clinic, 1818 New York Ave NE SUITE 233, Washington, DC 20002</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.2735847902172!2d-76.97931862363622!3d38.91772387171972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b90313df3a53%3A0x3945f57d9b9aa23b!2sNew%20Era%20Recovery%20and%20Behavioral%20Health%20LLC%20-%20Mental%20Health%20Clinic!5e0!3m2!1sen!2s!4v1753903527095!5m2!1sen!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <!-- Card 4 -->
            <div class="map-card">
              <h4><strong>Mind Relief</strong></h4>
              <p>Arroyo Grande Community Hospital, 345 S Halcyon Rd, Arroyo Grande, CA 93420, United States</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3263.7217830609648!2d-120.59349892378955!3d35.11365747277579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ec5e9bef38727d%3A0x8d71defe40873c49!2sArroyo%20Grande%20Community%20Hospital!5e0!3m2!1sen!2s!4v1753903569964!5m2!1sen!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>

          </div>
          
          <!-- Card 4 -->
            <div class="map-card">
              <h4><strong>Mind Relief</strong></h4>
              <p>Brain Health USA, 14541 Delano St, Van Nuys, CA 91411, United States</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.568936353591!2d-118.45279402382496!3d34.182937173107966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2970369f01017%3A0x53ce8508723d136e!2sBrain%20Health%20USA!5e0!3m2!1sen!2s!4v1753903657471!5m2!1sen!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <!-- /contact-info-cards -->
        </div>
        <!-- /contact-info-panel -->

        <!-- Right Panel -->
        <div class="contact-form-panel">
          <div class="map-container">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.83945321899!2d-118.24589012383!3d34.04798917315874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c64824336405%3A0x75e6b56fc8360ae1!2sExer%20Urgent%20Care%20-%20Downtown!5e0!3m2!1sen!2s!4v1753905053932!5m2!1sen!2s"
              width="100%"
              height="100%"
              style="border: 0"
              allowfullscreen=""
              referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
          </div>
        </div>
        <!-- /contact-form-panel -->
      </div>