{% extends "base.html" %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="bi bi-house"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="#">Category</a></li>
            <li class="breadcrumb-item active current">Services</li>
          </ol>
        </nav>
      </div>

      <div class="title-wrapper">
        <h1>Services</h1>
        <p>Comprehensive mental health services designed to restore balance, build resilience, and support your journey to wellness.</p>
      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section
    id="featured-services"
    class="featured-services section light-background"
  >
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      {% comment %} <h2>Featured Services</h2>
      <p>
        Delivering personalized care and specialized treatment plans that address each patient’s unique mental health needs with compassion and precision.
      </p> {% endcomment %}
    </div>
    <!-- End Section Title -->

    {% include "service_section.html" %}
  </section>

  </main>

{% endblock content %}